body {
    background-color: #FFEE63 ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.emoji {
    font-size: 2rem;
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}